{% extends 'base.html.twig' %}

{% block title %}Liste lieux{% endblock %}
{% block pageName %}Liste des lieux d'événements{% endblock %}

{% block body %}

    {% if app.user.isActive == false %}
        {{ include('security/blocked.html.twig') }}
    {% endif %}

    {% if app.user.isActive == true %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom </th>
                    <th scope="col">Rue </th>
                    <th scope="col">Ville</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for venue in venues %}
                <tr>
                    <td>{{ venue.id }}</td>
                    <td>{{ venue.name }}</td>
                    <td>{{ venue.street }}</td>
                    <td>{{ venue.city.name }}</td>
                    <td>{{ venue.latitude }}</td>
                    <td>{{ venue.longitude }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('app_venue_edit', {'id': venue.id}) }}">Modifier</a>
                            <a href="{{ path('app_venue_delete', {'id': venue.id}) }}">Supprimer</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            <a class="btn btn-primary"  href="{{ path('app_venue_new') }}">Nouveau lieu</a>
        </div>
    {% endif %}

    <a href="{{ path('home_home') }}">Retour à l'accueil</a>
{% endblock %}
