{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>{{ event.name }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Status</th>
                <td>{{ event.status.label }}</td>
            </tr>
            <tr>
                <th>Date et heure de l'évenement</th>
                <td>{{ event.startingDateTime ? event.startingDateTime|format_datetime('medium', 'short', locale='fr') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ event.duration ? event.duration.format('%d jour(s), %H heure(s), %I minute(s)') : '' }}</td>
            <tr>
                <th>Lieu</th>
                <td>{{ event.venue.name }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ event.registrationDeadline ? event.registrationDeadline|format_datetime('medium', 'short', locale='fr') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.details }}</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ event.campus.name }}</td>
            </tr>
            <tr>
                <th>Organisateur</th>
                <td>{{ event.creator.pseudo }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        {% if event.creator.id != app.user.id %}
            {% if app.user in event.attendeesList %}
                <button><a href="{{ path('event_unsubscribe', {'id': event.id}) }}">Se désister</a></button>
            {% else %}
                <button><a href="{{ path('event_subscribe', {'id':  event.id}) }}">S'inscrire</a></button>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or (event.creator.id == app.user.id) %}
            <button><a href="{{ path('event_update', {'id': event.id}) }}">Modifier</a></button>
{#            <button><a href="{{ path('status_delete', {'id': event.id}) }}">Supprimer</a></button>#}
        {% endif %}
    </div>

    <table>
        <thead>Participants</thead>
        <tbody>
            {% for attendee in attendees %}
                <tr>
                    <td>{{ attendee.pseudo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        {% if is_granted('ROLE_ADMIN') or (event.creator.id == app.user.id) %}
        <button><a href="{{ path('event_update', {'id': event.id}) }}">Modifier</a></button>
        <button><a href="{{ path('event_delete', {'id': event.id}) }}">Supprimer</a></button>
        {% endif %}
    </div>

    <a href="{{ path('home_home') }}">Retour à l'accueil</a>

{% endblock %}
