{% extends 'base.html.twig' %}

{% form_theme update_event_form 'bootstrap_5_layout.html.twig' %}

{% block title %}Modifier un évènement{% endblock %}

{% block pageName %}Modifier un évenement{% endblock %}

{% block body %}

    <h1>{{ event.name }}</h1>

    {% if app.user.isActive == false %}
        {{ include('security/blocked.html.twig') }}
    {% endif %}

    {% if app.user.isActive == true %}
        <div class="flex justify-content">
            {{ form(update_event_form) }}
        </div>

        <div>
            <a href="{{ path('status_delete', {'id': event.id}) }}" class="btn btn-danger">Supprimer</a>
            {% if event.status.label == 'Créé' or event.status.label == 'Annulé' %}
                <a href="{{ path('status_publish', {'id': event.id}) }}" class="btn btn-success">Publier</a>
            {% endif %}
        </div>
    {% endif %}

    <a href="{{ path('home_home') }}" class="link-secondary">Retour à l'accueil</a>

{% endblock %}
