{% extends 'base.html.twig' %}

{% form_theme update_event_form 'bootstrap_5_layout.html.twig' %}

{% block title %}Modifier un évènement{% endblock %}

{% block pageName %}Modifier un évenement{% endblock %}

{% block body %}

    <h1>{{ event.name }}</h1>

    {% if app.user.isActive == false %}
        <h2 >Compte bloqué</h2>
        <p>L'accès de votre compte a été restreint par les administrateurs.</p>
    {% endif %}

    {% if app.user.isActive == true %}
        <div class="flex justify-content">
            {{ form(update_event_form) }}
        </div>

        <div>
            <button><a href="{{ path('status_delete', {'id': event.id}) }}">Supprimer</a></button>
            {% if event.status.label == 'Créé' or event.status.label == 'Annulé' %}
                <button type="submit"><a href="{{ path('status_publish', {'id': event.id}) }}">Publier</a></button>
            {% endif %}
        </div>
    {% endif %}

    <a href="{{ path('home_home') }}">Retour à l'accueil</a>

{% endblock %}
