{% extends 'base.html.twig' %}

{% block title %}Jet:Laged:Brains - Accueil{% endblock %}

{% block body %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Nom de la sortie</th>
        <th scope="col">Date de la sortie</th>
        <th scope="col">Clôture</th>
        <th scope="row">Inscrits / Places</th>
        <th scope="col">Etat</th>
        <th scope="col">Organisateur</th>
        {% if is_granted('ROLE_USER') %}
            <th scope="col">Inscrit</th>
            <th scope="col">Actions</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {# Itération sur la liste des events #}
    {%  for event in events %}
    <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.startingDateTime | format_datetime('medium', 'short', locale='fr')}}</td>
        <td>{{ event.registrationDeadline | format_datetime('medium', 'short', locale='fr')}}</td>
        <td>{{ event.attendeesList|length }} / {{ event.maxAttendees }} </td>
        <td>{{ event.status.label }}</td>
        <td>{{ event.creator.pseudo }}</td>

        {% if is_granted('ROLE_USER') %}
            {# on modifie l'affchage selon qu'on est le créateur de la sortie OU qu'on est inscrit à la sortie ou non #}
            <td>
                {% if app.user is same as(event.creator) %}

                    <p>Auteur</p>

                {% elseif app.user in event.attendeesList %}

                    <p>x</p>

                {% else %}

                    non
                {% endif %}
            </td>

            <td>
                <a href=" {{ path('event_details', {'id': event.id}) }}">Afficher détail</a>
                {% if (is_granted('ROLE_ADMIN') or (app.user == event.creator)) %}
                    <a href="{{ path('event_update', {'id': event.id}) }}">Modifier</a>
                    {# TODO : ajouter les actions suivantes #}
                    {% if event.status.label != 'Ouvert' %}
                    <a href="">Publier</a>
                    <a href="">Annuler</a>
                    {% endif %}
                {% endif %}
                {% if event.creator.id != app.user.id %}
                    {% if app.user in event.attendeesList %}
                        <a href="">Se désister</a>
                    {% else %}
                        <a href="{{ path('event_subscribe', {'id': event.id}) }}" >S'inscrire</a>
                    {% endif %}
                {% endif %}
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
