{% if form is defined %}
    <div class="row">
    <div class="col-12 mt-1">
        {{ form_start(form) }}
        <div class="form-group mb-4">
            {{ form_widget(form.keyword) }}
        </div>
        <div class="form-group mb-4">
            {{ form_widget(form.campus) }}
        </div>
        <div class="form-group mb-4">
            {{ form_widget(form.beginDateTime) }}
        </div>
        <div class="form-group mb-4">
            {{ form_widget(form.endDateTime) }}
        </div>
        <div>
            {{ form_widget(form.isOrganizer) }}
        </div>
        <div>
            {{ form_widget(form.isParticipant) }}
        </div>
        <div>
            {{ form_widget(form.isNotParticipant) }}
        </div>
        <div>
            {{ form_widget(form.passedDateTime) }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Rechercher</button>
        {{ form_end(form) }}
    </div>
    </div>
{% endif %}