{% if form is defined %}
<div class="container-fluid">
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4 mb-2">
                {{ form_widget(form.keyword) }}
            </div>
            <div class="col-md-2 mb-2 ml-5">
                {{ form_widget(form.campus) }}
            </div>
            <div class="col-md-1 mb-2"></div>
            <div class="col-md-3 mb-2">
                {{ form_row(form.isParticipant) }}
                {{ form_row(form.isNotParticipant) }}
            </div>
            <div class="col md-2">
                <button type="submit" class="btn btn-lg btn-secondary">Rechercher</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-2">
                {{ form_row(form.beginDateTime) }}
            </div>
            <div class="col-md-3 mb-2 ml-5">
                {{ form_row(form.endDateTime) }}
            </div>
            <div class="col-md-1 mb-2"></div>
            <div class="col-md-3 mb-2">
                {{ form_row(form.isOrganizer) }}
                {{ form_row(form.passedDateTime) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endif %}