{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}
{% block pageName %}Site : {{ campus.name }}{% endblock %}

{% block body %}


    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="col">Id</th>
                <td>{{ campus.id }}</td>
            </tr>
            <tr>
                <th scope="col">Nom</th>
                <td>{{ campus.name }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_campus_edit', {'id': campus.id}) }}"> Modifier </a>
    <br>
    <a href="{{ path('app_campus_index') }}"> Retour à la liste</a>


    {{ include('campus/_delete_form.html.twig') }}
{% endblock %}
