{% extends 'base.html.twig' %}

{% block title %}Ville {% endblock %}
{% block pageName %}Ville : {{ city.name }}{% endblock %}

{% block body %}

    {% if app.user.isActive == false %}
        <h2>Compte bloqué</h2>
        <p>L'accès de votre compte a été restreint par les administrateurs.</p>
    {% endif %}

    {if app.user.isActive == true %}
        <table class="table table-striped">>
            <tbody>
                <tr>
                    <th scope="col">Id</th>
                    <td>{{ city.id }}</td>
                </tr>
                <tr>
                    <th scope="col">Nom</th>
                    <td>{{ city.name }}</td>
                </tr>
                <tr>
                    <th scope="col">Code postal </th>
                    <td>{{ city.zipCode }}</td>
                </tr>
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_city_edit', {'id': city.id}) }}"> Modifier </a>
        {% endif %}
        <br>
        <a href="{{ path('app_city_index') }}">Retour à la liste</a>

    {% endif %}

{% endblock %}
