{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block pageName %}Mon profil{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-5 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if user.picture is not empty %}

                        <img class="rounded-circle mt-5" width="200px"
                             src="{{ asset(picture_dir ~ '/' ~ user.picture) }}">
                    {% else %}
                        <img class="rounded-circle mt-5" width="200px"
                             src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                    {% endif %}
                    <br>
                    {{ form_row(form.picture_file) }}
                    <span class="font-weight-bold">Taille max: 500ko<br>Format: jpg, jpeg, png</span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">

                    <div class="row mt-2">
                        {{ form_row(form.pseudo) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="row mt-3">
                        {{ form_row(form.campus) }}
                    </div>
                    <div class="row mt-3">
                        {{ form_row(form.phoneNumber) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword) }}
                    </div>

                    {{ form_row(form.submit) }}

                    {% if is_granted('ROLE_ADMIN') %}
                        {% if user.isActive == true %}
                        <button type="button" class="btn btn-danger"><a href="{{ url('user_disable', {'id': user.id}) }}">Désactiver</a></button>
                        {% else %}
                        <button type="button" class="btn btn-success"><a href="{{ url('user_activate', {'id': user.id}) }}">Réactiver</a></button>
                        {% endif %}
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <button type="button" class="btn btn-danger" onclick="confirm('Êtes-vous sûr de vouloir supprimer ce profil ?')"><a href="{{ url('user_delete', {'id': user.id}) }}">Supprimer</a></button>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    {% if app.user == user %}
        <table class="table">
            <h2>Sorties créées</h2>
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="row">Inscrits / Places</th>
                <th scope="col">Etat</th>
                <th scope="col">Détail</th>
            </tr>
            </thead>

            <tbody>
            {# Itération sur la liste des events #}
            {%  for event in organizedEvents %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startingDateTime | format_datetime('medium', 'short', locale='fr')}}</td>
                    <td>{{ event.registrationDeadline | format_datetime('medium', 'short', locale='fr')}}</td>
                    <td>{{ event.attendeesList|length }} / {{ event.maxAttendees }} </td>
                    <td>{{ event.status.label }}</td>
                    <td><a href=" {{ path('event_details', {'id': event.id}) }}">Afficher détail</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
