{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block pageName %}Mon profil{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-5 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    {% if user.picture is not empty %}

                        <img class="rounded-circle mt-5" width="200px"
                             src="{{ asset(picture_dir ~ '/' ~ user.picture) }}">
                    {% else %}
                        <img class="rounded-circle mt-5" width="200px"
                             src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                    {% endif %}
                    <br>
                    {{ form_row(form.picture_file) }}
                    <span class="font-weight-bold">Taille max: 500ko<br>Format: jpg, jpeg, png</span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">

                    <div class="row mt-2">
                        {{ form_row(form.pseudo) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="row mt-3">
                        {{ form_row(form.campus) }}
                    </div>
                    <div class="row mt-3">
                        {{ form_row(form.phoneNumber) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword) }}
                    </div>

                    {{ form_row(form.submit) }}

                    {% if is_granted('ROLE_ADMIN') %}
                        {% if user.isActive == true %}
                            <a href="{{ url('app_user_disable', {'id': user.id}) }}"
                               class="btn btn-danger">Désactiver</a>
                        {% else %}
                            <a href="{{ url('app_user_activate', {'id': user.id}) }}" class="btn btn-secondary">Réactiver</a>
                        {% endif %}
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('app_user_delete', {'id': user.id}) }}" class="btn btn-danger"
                           onclick="confirm('Êtes-vous sûr de vouloir supprimer ce profil ?')">Supprimer</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
