{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block pageName %}Liste des utilisateurs{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Profil</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">Nouvel utilisateur</a><br>
    <a href="{{ path('home_home') }}">Retour à l'accueil</a>
{% endblock %}
