{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}


    <h1>{{ user.pseudo }}</h1>

    {% if user.picture is not empty %}
        <img src='{{ asset('uploads/' ~ user.picture) }}' alt='votre image de profil' width='50px'/>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') and user.isActive == false %}
        <h2>Le compte de cet utilisateur est désactivé</h2>
    {% endif %}

    <table class="table">
        <tbody>
        {#            <tr> #}
        {#                <th>Id</th> #}
        {#                <td>{{ user.id }}</td> #}
        {#            </tr> #}
        {#            #}
        {#            <tr> #}
        {#                <th>Roles</th> #}
        {#                <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
        {#            </tr> #}
        {#            <tr> #}
        {#                <th>Password</th> #}
        {#                <td>{{ user.password }}</td> #}
        {#            </tr> #}
        {#            <tr> #}
        {#                <th>Pseudo</th> #}
        {#                <td>{{ user.pseudo }}</td> #}
        {#            </tr> #}
        <tr>
            <th>Prénom</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>Numéro de téléphone</th>
            <td>{{ user.phoneNumber }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Campus</th>
            <td>{{ user.campus.name}}</td>
        {#            <tr> #}
        {#                <th>IsAdmin</th> #}
        {#                <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td> #}
        {#            </tr> #}
        {#            <tr> #}
        {#                <th>IsActive</th> #}
        {#                <td>{{ user.isActive ? 'Yes' : 'No' }}</td> #}
        {#            </tr> #}
        {#            <tr> #}
        {#                <th>IsVerified</th> #}
        {#                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td> #}
        {#            </tr> #}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') or app.user == user %}
        <h2>Sorties créées</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="row">Inscrits / Places</th>
                <th scope="col">Etat</th>
                <th scope="col">Détail</th>
            </tr>
            </thead>

            <tbody>
            {# Itération sur la liste des events #}
            {%  for event in organizedEvents %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startingDateTime | format_datetime('medium', 'short', locale='fr')}}</td>
                    <td>{{ event.registrationDeadline | format_datetime('medium', 'short', locale='fr')}}</td>
                    <td>{{ event.attendeesList|length }} / {{ event.maxAttendees }} </td>
                    <td>{{ event.status.label }}</td>
                    <td><a href=" {{ path('event_details', {'id': event.id}) }}">Afficher détail</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>

    <a href="{{ path('app_edit_profile', {'id': user.id}) }}">Modifer</a>

{% endblock %}
